<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css">
</head>
</head>
<body>
    <header>
        <h1><%= title %></h1>
    </header>
<% if (user) { %>
    <p>Welcome, <%= user.displayName %>!</p>
    <p><%= user.emails[0].value %></p>
    <img src="<%= user.photos[0].value %>" alt="avatar" width="64">
    <br><br>
    <a href="/logout">Sign out</a>
  <% } else { %>
    <h1>My App</h1>
    <p>Sign in to continue.</p>
    <a href="/auth/google">Sign in with Google</a>
  <% } %>
</body>

</html>